*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/*Puerta Titulo*/
h1{
    font-size: 2em;
    margin: 0.67em 0; 
}

.titulo{
    font-size: 26px;
    margin-top: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.titulo {
    line-height: 1.4;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

/*Parrafos Explicativos*/
p{
    margin-block-start: 20px;
}

#tituloS{
    color: blue;
}

/*Galeria de fotos de Puertas*/
.galeria-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-top: 40px;
    border: 5%;
}

.hijo-galeria{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.hijo-galeria img{
    vertical-align: top;
    width: 100%;
    height: 250px;
}

.pie-fotos{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

